*{
     box-sizing: border-box;
    }
    html{
        background-color: tomato
    }
    
    body{
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        margin: 12px 0;
    }
    
    
    .tba-container{
        color: whitesmoke;
        width: 100%;
        height: 100%;
        background-color: tomato;
    }
    
    .tba-container h2{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .tba-bar{
        background-color: tomato;
        padding-left: 10px;
    }
    
    .tba-bar a:hover{
        color: whitesmoke;
        background-color: navy;
    }
    
    .body-content{
        background-color: tomato;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .body-content h3{
        color: navy
    }
    
    .footer-content{
        background-color: tomato;
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;
    }