Summary
#########
This is a project for creating a movie booking website

LANDING PAGE
##############
Requirement 1: The page must have a nav bar with links. The links must include "Home" "Booking" "Snacks"
Requirement 2: The page must have a 